:root {
    --blue: #001A52;
    --red: #f52a3b;
    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
    color: var(--black);
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footerContent {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width:90%;
    gap:12px;
    padding: 12px;
}

.yrgoFooter {
    display: flex;
    align-items: flex-start;
}

.footerLinks {
    display: flex;
    justify-content: space-between;
}

.footerLeft, .footerRight {
    display: flex;
    flex-direction: column;
    gap:12px;
    text-align: left;
    font-size: 16px;
}

.footerCopy {
    text-align: left;
    font-size: 16px;
}

@media (min-width:800px) {
    .footerContent {
        width:60%;
    }
}