body {
    background-color: #f4f4f4;
}

/** Filtrera och sökning **/
.studentOptions {
    height: 150px;
    padding: 1.5rem;
}

.backButton {
    margin-top: 10px;
    margin-bottom: 35px;
    padding: 0.5rem;
}

.filters {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.filterBar, .filterButton {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.6rem;
    border-radius: 35px;
    border: 2px solid black;
}

.filterBar { /*selma fixa text overflow*/
    gap: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 299px;
}


/** ELEVGALLERIET / STUDENT GALLERY **/
.studentMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 10%;
}

.profileCard {
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: column;

    gap:50%;
    border-radius: 10px;
    border-bottom: 30px solid #dddddd;
    padding: 1rem;
    width: 90%;
    max-height:300px;
    background-color: lightgreen;
}

.profilePicture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstDescriptionRow {
    display: flex;
    justify-content: space-between;

    margin-top: 1.5rem;
}

.studentWUorDD {
    display: flex;
}

.secondDescriptionRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.studentName {

}

.studentAge {
    border-radius: 20px;
    padding: 0.5rem;
    border: 2px solid black;
}
/*detaljsida*/
.studentBasicInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: bisque;
}

.studentDetailPicture {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px; /*selma ändra till korrekt*/
    height: 300px;
    border-radius: 50%;
    margin-bottom:24px;
    background-color: aqua;
}

.studentDetailName {
    font-size: 34px;
    margin-bottom: 8px;
}

.studentDetailStudy {
    font-size: 48px;
}

.studentDetailCity {
    font-size: 24px;
    font-weight: bold; /*selma fixa*/
}

.studentDetailAge {
    text-align: center;
    font-size: 34px;
    padding: 5px;
    width: 55px;
    border: 3px solid black;
    border-radius: 44%; /*selma snygga till*/
}

.studentMoreInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: aquamarine;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.infoContainer {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
}

.lastTwoItems {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}

.lastTwoItems .infoContainer {
    flex-basis: calc(50% - 10px);
}

.studentContactInfo {
    background-color: #001A52;
    color: #ffffff;
}

.sci {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/** FÖRETAGSGALLERIET / COMPANY GALLERY **/
.companyMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 10%;
}

.companyCard {
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: column;

    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    max-height:300px;
    background-color: lightgreen;
}

.companyPicture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.companyName {

}

.commpanySpots {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 3%;
    border: 2px solid black;
    border-radius: 35px;
    padding: 0.8rem;
    color: red;
    font-size: 20px;
}

/*detaljsida*/
.companyBasicInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: lightgreen;
    max-width: 650px;
    min-width: 95%;
    padding: 10px;
    margin-bottom: 32px;
}

.companyName {
    display: flex;
}

.workTitle {
    display: flex;
}

.companyDetailPicture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lookingFor {

}

.dateAndPlace {
    display: flex;
    justify-content: center;

    padding: 10px;
}

.dateAndPlaceContent {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #001A52;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;

    width: 95%;
    height: 46px; /*56px;*/
    padding: 10px;
}

.about {
    background-color: tomato;
    padding: 10px;
    margin-top: 32px;
}

.aboutButtons {
    display: flex;
    justify-content: space-evenly;
}

.applyForLia {
    background-color: #001A52;
    color: #ffffff;
    width: 152px;
}

.companyProfile {
    border: 1px solid black;
    width: 194px;
}

.applyForLia, .companyProfile {
    padding: 13px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    margin-top: 24px;
}

@media (min-width:600px) {
    .dateAndPlaceContent {
        width: 400px;
    }
}

/*TO DO: selma, aligna allt på detaljsidorna*/