:root {
    --blue: #001a52;
    --red: #f52a3b;
    --white: #ffffff;
    --black: #000000;
    --cardShadow: rgba(224,224,224,255);
}

body {
    background-color: var(--white);
    min-height: 100%;
}

/** Filtrera och sökning **/
.studentOptions {


}

.backButton {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 16px;
    height: 64px;
}

.filterContainer {
    display: flex;
    padding-bottom: 28px;
}

.filterItems {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 100%;
    padding-left: 12px;
    max-width: 427px;
}

@media (min-width:427px) {
    .filterContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .filterItems {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.filterBar,
.filterButton {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--black);
}

.filterBar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 299px;
    border-radius: 50px;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px 24px;
}

.filterButton {
    padding:4px;
    border-radius: 50%;
    width: calc(48px - 8px);
    height: calc(48px - 8px);
}

/** ELEVGALLERIET / STUDENT GALLERY **/
.studentMain {
    padding: 12px 32px;
}

.studentCard {
    /*border-bottom: 30px solid var(--cardShadow);   selma*/
    margin-bottom: 32px;
    max-height: 300px;
}

.profilePicture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.studentWUorDD {
    display: flex;
    padding-bottom: 8px;
}

.compFirstDescriptionRow,
.compSecondDescriptionRow {
    padding-top: 8px;
}

.studentName {
    padding-bottom: 16px;
}

.studentAge {
    border-radius: 20px;
    padding: 0.5rem;
    border: 2px solid var(--black);
}
/*detaljsida*/
.basicInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.studentDetailPicture {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px; /*selma ändra till korrekt*/
    height: 300px;
    border-radius: 50%;
    margin-bottom: 24px;
}

.studentDetailName {
    font-size: 34px;
    margin-bottom: 8px;
}

.studentDetailStudy {
    font-size: 48px;
}

.studentDetailCity {
    font-size: 24px;
    font-weight: bold; /*selma fixa*/
}

.studentDetailAge {
    text-align: center;
    font-size: 34px;
    padding: 5px;
    width: 55px;
    border: 3px solid var(--black);
    border-radius: 44%; /*selma snygga till*/
}

.studentMoreInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.infoContainer {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
}

.lastTwoItems {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}

.lastTwoItems .infoContainer {
    flex-basis: calc(50% - 10px);
}

/** FÖRETAGSGALLERIET / COMPANY GALLERY **/
.companyMain {
    padding: 12px 24px;
}

.companyCard {
    margin-bottom: 24px;

    max-height: 300px;
}

.companyPicture {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    padding: 0;
    margin: 0;
}

.wuImage,
.ddImage {
    display: inline-block;

    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.companyName {
}

.commpanySpots {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 2px solid var(--black);
    border-radius: 20px;
    width: 67px;
    height: 40px;
    color: red;
    font-size: 20px;
}

/*detaljsida*/
.annons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.annonsInfo {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
  
    max-width: 550px;
}
    /*max-width: 650px;
    min-width: 95%;
    padding: 10px;
    margin-bottom: 32px;
}**/

.companyName, .workTitle {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    padding:12px;
}


.companyDetailPicture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lookingFor {
    margin-top: 32px;
}

/*.dateAndPlace {
    display: flex;
    justify-content: center;

    padding: 10px;
}

.dateAndPlaceContent {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
    text-align: center;

    width: 95%;
    height: 46px;
    padding: 10px;
} */

.about {
    padding: 10px;
    margin-top: 32px;
}

.about p {
    margin-top:16px;
}

.aboutButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
    gap:8px;
}

.applyForLia {
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 32px;
}

.companyProfile {
    border: 1px solid var(--black);
    padding: 12px 16px;
}

.applyForLia,
.companyProfile {
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 32px;
}

.aboutTitles {
    margin-bottom: 8px;
    margin-top: 32px;
}

.card-container {
    margin-bottom: 32px;
}

/*.companyAdress {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;

    margin-bottom: 140px;
} */


/*BOTH COMPANY AND STUDENTS / GEMENSAM DESIGN*/
.companyMain, .studentMain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.detailContactInfo {
    background-color: var(--blue);
    color: var(--white);
}

.contactItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.galleryCard {
    display: flex;
    flex-direction: column;

    max-width: 369px;
    width: 95%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 20px 2px var(--cardShadow);
}

.secondDescriptionRow, .compSecondDescriptionRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 12px;
    padding-right: 12px;
}

.firstDescriptionRow, .compFirstDescriptionRow {
    display: flex;
    justify-content: space-between;

    padding-left: 12px;
    padding-right: 12px;
}

/** APPLYFORLIA PAGE / LIA-ANSLKNINGSSIDAN**/
.applyContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 32px;
    height: 100vh;
}

.applyContainer h4, .applyContainer img, .applyContainer p {
    margin-bottom: 32px;
}

.applyLiaButtons {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.applyLiaButtons p {
    border: 1px solid var(--black);
    border-radius: 30px;
    text-align: center;
}

.keepApply {
    background-color: var(--blue);
    color: var(--white);
    padding: 8px 16px;
    width: 146px;
}

.noApply {
    padding: 8px 16px;
    width: 214px;
}

@media (min-width: 650px) {
    .dateAndPlaceContent {
        width: 400px;
    }

    .companyCard {
        display: flex;
        /*justify-content: space-between;*/
        flex-direction: column;

        border-radius: 10px;

        margin-bottom: 24px;
        width: 369px;
        max-height: 300px;
    }
}

/*TO DO: selma, aligna allt på detaljsidorna*/
