:root {
    --blue: #001a52;
    --red: #f52a3b;
    --white: #ffffff;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
}

/**Font-styling for ALL text on site**/
.inter-AppFont {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

h4 {
    font-family: "Inter", sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 36px;
}

h5 {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    letter-spacing: 0.18px;
    line-height: 24px;
}

.body1 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 24px;
}

.body2 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 20px;
}

.buttonFont {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    letter-spacing: 1.25px;
    line-height: 16px;
}

.subtitle2 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 24px;
}

.captionFont {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
}

@media (min-width:650px) { /*selma kolla rätt storlek*/

}

/*********/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

header {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    font-family: "Inter", sans-serif;
    width: 100%;
    height: 112px;
    background-color: var(--red);
    /*top: 0;
    left: 0;*/
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    width: 100%;
}

.headerRight,
.headerLeft {
    display: flex;
    align-items: flex-end;

    padding: 1rem;
}

.headerLeft {
    justify-content: flex-end;
}

.signIn {
    padding: 8px 16px;
    border: 1px solid var(--white);
    border-radius: 20px;
    color: var(--white);
}
