:root {
    --blue: #001A52;
    --red: #f52a3b;
    --white: #ffffff;
}

a {
    color: inherit;
}

body {
    display: flex;
    align-items: center;

    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 550px; /*353px*/
}

.welcomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: aqua;
    height: 100%;
    width: 100%;
}

.yrgo {

}

.welcomeMessage {
    padding: 12px;
    text-align: center;
}

.createAccountButton {
    background-color: var(--blue);
    color: var(--white);
}

.companyGalleryButton {
    border: 1px solid black;
}

.button {
    background: none;
    border: none;
    outline: inherit;
}

.createAccountButton, .companyGalleryButton, .button {
    border-radius: 25px;
    padding: 3px;
}

.branscheventContainer {
    background-color: var(--blue);
    color: var(--white);
    padding: 62px 20px;
}

.branscheventContainer h2 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.ledningsgruppen {
    padding: 0 20px;
    height: 244px;
}

.ledningsgruppen h2 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.companyLogos {
    height: 80px;
}