:root {
    --primary-color: #f52a3b;
    --secondary: #001a52;
    --faded: #e4e9eb;
    --onyx: #333333;
}

.main-registration {
    gap: 16px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.profile-card {
    width: 369px;
    padding: 16px;
    gap: 16px;
}

button {
    background-color: white;
    width: 160px;
    height: 32px;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    color: var(--onyx);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

button:hover {
    background-color: var(--primary-color);
    color: white;
}

.profile-picture-container {
    width: 264px;
    height: 264px;
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 16px;
}

.profile-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.defualt-picture {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.row {
    display: flex;
    flex-direction: row;
}

.row-card {
    width: 184px;
    padding: 8px;
}

.mail {
    align-items: center;
}

.contact-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 369px;
    background-color: var(--secondary);
    border-radius: 10px;
    gap: 16px;
    padding: 16px;
}

.contact-card h5 {
    color: white;
}

.contact-card button {
    width: 160px;
}

.top-row {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.mail button {
    width: 320px;
}

.title {
    text-align: left;
}

ul {
    list-style-position: inside;
}

.edit-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    min-width: 75%;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 16px;
}

.edit-container img {
    width: 100%;
    height: 100%;
}

.skills-container {
    display: flex;
    flex-direction: column;
    width: 369px;
    background-color: var(--secondary);
    border-radius: 10px;
    gap: 16px;
    padding: 16px;
    gap: 16px;
    margin-bottom: 16px;
    color: var(--white);
}

.name-container {
    text-align: center;
}

h4,
h3 {
    margin-bottom: 16px;
}

.selectfont {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    letter-spacing: 1.25px;
    line-height: 16px;
}
