:root {
    --primary-color: #f52a3b;
    --secondary: #001a52;
    --faded: #e4e9eb;
    --onyx: #333333;
}

body {
    margin: 0;
    padding: 0;
}

.main-registration {
    padding: 16px;
}

.title-container {
    width: 361px;
    padding: 32px;
}

.register {
    background-color: var(--white);
    color: var(--onyx);
    width: auto;
    height: 32px;
    border-radius: 32px;
    border-color: black;
    text-transform: uppercase;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}
.register:hover {
    background-color: var(--primary-color);
    border: none;
    color: var(--white);
}

#title {
    color: var(--faded);
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-container {
    text-align: left;
    border-radius: 6px;
    background-color: var(--secondary);
    padding: 16px;
    width: 345px;
}

.input-title {
    padding-bottom: 16px;
    color: var(--onyx);
}
.input-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 16px;
}

.input-container textarea {
    width: 361px;
    resize: vertical;
    border-top: none;
    border-left: none;
    border-right: none;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button:active {
    background-color: var(--primary-color);
}

.buttons button {
    padding: 8px 12px;
    background-color: var(--faded);
    color: var(--onyx);
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 160px;
    height: 32px;
    border-radius: 30px;
    border: none;
}

.buttons button:hover {
    background-color: var(--primary-color);
    color: var(--faded);
}

input {
    width: 361px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.industry-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.industry-button {
    background-color: var(--faded);
    color: var(--onyx);
    border-radius: 30px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.study-button input[type="radio"],
.language-button input[type="radio"],
.employees-button input[type="radio"],
.industry-button input[type="radio"] {
    display: none;
}

.language-button:hover,
.employees-button:hover,
.study-button:hover,
.industry-button:hover {
    background-color: var(--primary-color);
    color: var(--faded);
}

.language-button,
.employees-button,
.study-button {
    background-color: var(--faded);
    color: var(--onyx);
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    width: 160px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.study-button input:checked + span,
.language-button input:checked + span {
    width: 1000px;
    height: 32px;
}

.employees-button input:checked + span {
    width: 1000px;
    height: 32px;
}

.industry-button input:checked + span {
    width: 1000px;
    height: 32px;
}

.study-button input:checked + span,
.language-button input:checked + span,
.employees-button input:checked + span,
.industry-button input:checked + span {
    background-color: var(--primary-color);
    color: var(--faded);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-button input {
    width: 160px;
    height: 32px;
}
.card-container {
    width: 345px;
    background-color: var(--secondary);
    border-radius: 6px;
    padding: 16px;
}

/* File upload */

.file-title {
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    color: var(--faded);
    text-align: left;
    width: 345px;
}

.file-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-picture-input,
#cv-file-input,
#profile-picture-company-input {
    display: none;
}

#file-label {
    background-color: var(--faded);
    color: var(--onyx);
    border-radius: 30px;
    width: 329px;
    max-width: 329px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#file-label:hover {
    background-color: var(--primary-color);
    color: var(--faded);
}

#file-label.red {
    background-color: var(--primary-color);
    color: var(--faded);
}

#file-label.selected::before {
    content: attr(data-file-name);
}

.file-label[data-file-name] {
    white-space: normal;
}

.body1 {
    padding-bottom: 16px;
}

#availableSpots {
    width: 100%;
    border-radius: 36px;
    height: 36px;
    max-width: 639px;
}

.avaliableSpots {
    text-align: center;
    padding: 16px;
}

label {
    text-transform: uppercase;
}

@media only screen and (min-width: 992px) {
    .card-container {
        width: 826px;
    }

    input {
        width: 794px;
    }

    textarea {
        min-width: 794px;
    }

    .button-container {
        width: 826px;
    }

    #file-label {
        width: 629px;
        max-width: 629px;
    }

    .file-title {
        width: 826px;
    }

    .title-container {
        width: 828px;
    }

    .avaliableSpots {
        min-width: 828px;
    }

    .main-registration {
        padding: 32px;
    }
}
